{% extends "layout.html" %}

{% block content %}
<div class="container-fluid tm-container-content tm-mt-60">

    <div class="row mb-2">
        <h2 id="gallery-title" class="col-12 tm-text-primary">{{ data['gallery']['title'] }}</h2>
        <small>
            <p>{{ data['gallery']['description'] }}</p>
        </small>
    </div>

    <form action="/image/add/" enctype="multipart/form-data" method="POST" class="tm-contact-form mx-auto mb-4">

        <div class="input-group">

            <input class="form-control" type="file" name="file_name" required>
            <!-- <input type="file" class="form-control" id="file_name" name="file_name"> -->

            <input type="text" hidden name="gallery_id" id="gallery_id" value="{{ data['gallery_id'] }}">
            <button name="submit" class="btn btn-outline-secondary" type="submit" id="submit">Upload Images</button>
        </div>

    </form>


    <div class="row mb-3 tm-gallery">
        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12 mb-5">
            <figure class="">
                <img src="{{ url_for('static', filename='img/img-01.jpg' )}}" alt="Image" class="img-fluid">
            </figure>
            <div class="d-flex justify-content-between tm-text-gray">
                <span class="tm-text-gray-light">16 Oct 2020</span>
                <span>12,460 views</span>
            </div>
        </div>


    </div>
</div>

{% endblock %}